body { 
  	width: 900px; 
  	margin: 100px auto 0 auto; 
  	font-family: Arial, Helvetica; 
  	font-size: small; 
  	background-color: #ddd; 
}

.header {
  position: fixed;
  width: 900px; 
  height: 100px;
  top: 0;
  background:#c0c0c0;
}

.footer {
  position: fixed;
  width: 900px;  
  bottom: 0;
  background:#c0c0c0;
}